.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.child{
    
    height: 50%;
    width: 50%;
}
.child img{
    width: 80%;
    margin: 5px;
}
